
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
    /* background-color: peru; */
}

/* navbarstyles */
.nav-bar{
display: flex;
justify-content: space-between;
align-items: center;

}
.display-flex{
  display: flex;
}
.brand,.dark-1{
  font-weight: bold;
  font-size: 3rem;

}

/* li a{
  list-style: none;
  text-decoration: none;
} */
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-item a{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.dark-1{
color: #131313;
/* color: red; */
}
.dark-2{
color:#424242;
/* color: blueviolet; */
/* color:#727272; */
}
.dark-3{
color:#727272;
}
.bg-color{
background-color:rgba(255, 144, 14, 0.1);

}
.nav-bar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
.banner-title{
font-size: 4rem;
font-weight: bold;
}
.banner-description{
font-size: 1rem;
font-weight: 400;
}
.btn-primary{
background-color: #FF900E;
color: #FFFFFF;
border-radius: 15px;
padding: 20px 25px;
font-weight: 500;
font-size: 1.4rem;
border: none;
}
.banner-content{
  max-width: 865px;
  margin: 0 auto;
  text-align: center;
}
.image{
  margin-top:50px;

  
}
.banner-image{
  width:100%;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main>section{
  margin-top: 120px;
}
.team{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */

}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content-container{
margin-left: 8rem;
max-width: 576px;
}
.quick{
  font-size: 2.8rem;
  font-weight: 400;
}
.our{
  font-size:2.8rem ;
  font-weight: 500;
}


/* feature section title  */
.features-container{
  display: flex;
  gap: 146px;

}
#feature-section-title{
  border-left: 5px solid rgb(255, 144, 14);
  padding-left:30px ;

}
.feature-title{
  font-size: 2.8rem;
  font-weight: 700;

}
.section-title{
  font-size: 2.8rem;
  font-weight: bold;
 
}
.feature-description{
  font-size: 1rem;
  font-weight: 400;
}
.feature-card-title{
  font-size: 1.25rem;
  font-weight: 600;
    margin-top: 0px;
  margin-bottom: 0px;
} 
.feature-card{
  border-radius: 8px;
padding: 30px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
margin-bottom: 20px;
}
#experience-btn{
  padding: 45px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -80px;
}
.experience-year{
font-size: 4rem;
font-weight: 700;
}
/*  */
.fetures{  color: #FF900E;
  font-size: 2.9rem;
  font-weight: 600;
}
/* fact section styles */
.section-description{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.fact-card{
  border: 1px solid #FF900E;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
   margin-top: 5px;
  margin-bottom: 5px;
}
.fact-name{
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 5px;
}
/* sponsor related section  */
.sponsor{
  max-width: 550px;
  margin: 50px auto;
  text-align: center;

}
.sponsor-title{
  font-size: 2.8rem;
  font-weight: bold;

}
.sponsor-description{
  font-size:1rem ;
  font-style: 400;
  margin-top: 20px;
}
.logo-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);

}
.logo-container img{
  filter: grayscale(100%);
}
.foot{
  border-radius: 8px;
height: 6rem;
background: rgb(255, 244, 231);

}
.foot-title{
  font-size: 1.25rem;
  font-weight: 400;
  padding: 40px 400px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .nav-bar,.display-flex,.features-container, .team{
    flex-direction: column;
  }
  .team-img-container,.fact-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-container{
    justify-items: center;
    gap: 24px;
  }
  .temp{
    text-align: center;
  }

  .team-content-container{
    margin-left: 20px;
    padding: 50px;
  }
  .logo-container{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    
  justify-items: center;

  }
  .logo-container img{
    width: 60%;
  }
  .feture-img img{
width: 100%; 

  }
  #experience-btn{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .foot{
width: 100%;

height: 150px;
  }
  .foot-title{
text-align: center;
padding: 5px;
  }
}
@media  screen and (min-width:575px) and (max-width: 992px){

  .features-container, .team{
  
    flex-direction: column;
  }
   .team-content-container{
    margin: 50px auto;
   }
   .fact-container,.logo-container{
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    justify-items: center;
   }
    #experience-btn{
    margin-left: 40px;
    /* margin-bottom: 20px; */
  }

}